@include on-mobile {
  th.columns.columns.columns {
    padding-left: $global-gutter / 2 !important;
    padding-right: $global-gutter / 2 !important;
  }
}

.narrow {
  .columns.first {
    padding-left: $global-gutter * 2;
  }

  .columns.last {
    padding-right: $global-gutter * 2;
  }
}
