table.footer {
  background-color: transparent;
}

.footer {
  .no-color {
    color: $color-dark-gray !important;
  }

  p {
    font-size: 12px;
    line-height: 6px;
    color: $color-dark-gray;
    text-align: center;
  }

  a {
    text-decoration: underline;

    &,
    &:link,
    &:visited {
      color: $color-dark-gray;
    }
  }
}
