table.footer {
  background-color: transparent;
}

.footer {
  p {
    font-size: 12px;
    line-height: 1.3;
    color: $color-dark-gray;
    text-align: center;
  }

  a {
    text-decoration: underline;
  }
}
