.heading,
.subheading {
  font-family: $font-tisa;
  font-size: 42px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 0;

  &--sub {
    font-size: 32px;
    line-height: 40px;
  }
}

.heading {
  color: $color-black;
  font-weight: $weight-tisa-light;
}

.subheading {
  color: $color-light-gray;
  font-weight: $weight-tisa-thin;
}
