.header {
  .body &__logo {
    width: 62px;
    height: 14px;

    &--store {
      width: 124px;
      height: 18px;
    }

    &--design {
      width: 139px;
      height: 24px;
    }
  }

  &__side {
    white-space: nowrap;
  }

  &__date {
    font-family: $font-akagi;
    font-size: 15px;
    color: $color-gray;
    text-align: right;
  }

  .columns {
    padding-top: 70px;
    padding-bottom: 60px;

    @include on-mobile {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }

  .last th {
    text-align: right;
  }

  @include on-mobile {
    &.row .columns.first {
      padding-right: 0 !important;
    }

    &.row .columns.last {
      padding-left: 0 !important;
    }
  }
}
