.heading,
.subheading {
  font-family: $font-tisa;
  font-size: 42px;
  line-height: 1.2;
  margin: 0;

  &--sub {
    font-size: 32px;
    line-height: 1.25;
  }
}

.heading {
  color: $color-black;
  font-weight: $weight-thin;
}

.subheading {
  color: $color-light-gray;
  font-weight: $weight-light;
}
