.heading,
.subheading {
  font-family: $font-tisa;
  font-size: 42px;
  line-height: 1.2;
  margin: 0;

  &--sub {
    font-size: 32px;
    line-height: 1.25;
  }
}

.heading {
  color: $color-black;
  font-weight: $weight-tisa-light; // [TOOD] Find web font version of Tisa Pro Thin
}

.subheading {
  color: $color-light-gray;
  font-weight: $weight-tisa-light;
}
