.header {
  &__date {
    font-family: $font-akagi;
    font-size: 15px;
    color: $color-gray;
    text-align: right;
  }

  .columns {
    padding-top: 70px;
    padding-bottom: 60px;

    @include on-mobile {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }

  .last th {
    text-align: right;
  }
}
