////
/// Section header. The left side will have a logo, and the right side will have some text or a link.
////

// Container
.header {
  background: $color-white;

  // Logo styles
  // Because it's an email, we have to define specific widths and heights for each image
  .body &__logo {
    width: 62px;
    height: 14px;

    &--store {
      width: 124px;
      height: 18px;
    }

    &--careers {
      width: 148px;
      height: 18px;
    }

    &--design {
      width: 131px;
      height: 24px;
    }

    &--events {
      width: 144px;
      height: 18px;
    }
  }

  // Right-hand side of header
  // Prevent text from wrapping if it's slightly too long on small screens
  &__side {
    white-space: nowrap;
  }

  // Styles for date, shown in first header
  &__date {
    position: relative;
    top: -1px; // Aligns the baseline with that of the logo
    font-family: $font-helvetica; // Defaulting to Helvetica so we can fine-tune the baseline alignment
    font-family: $font-national;
    font-size: 16px;
    color: $color-gray;
    text-align: right;

    span {
      &,
      &:hover {
        border-bottom-width: 0 !important;
      }
    }
  }

  // Add extra spacing to header
  .columns {
    padding-top: 70px;
    padding-bottom: 60px;

    @include on-mobile {
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }

  // Right-align date or link text
  .last th {
    text-align: right;
  }

  // Strip padding from columns on small screens to add more space for text
  @include on-mobile {
    &.row .columns.first {
      padding-right: 0 !important;
    }

    &.row .columns.last {
      padding-left: 0 !important;
    }
  }
}
