////
/// Fancy Ueno link with caret.
////

.link {
  font-family: $font-akagi;
  font-size: 16px;
  font-weight: bold;

  @include on-mobile {
    font-size: 14px !important;
  }

  &,
  &:link,
  &:hover,
  &:visited {
    color: $color-black;
  }

  .body &__caret {
    display: inline;
    width: 5px;
    height: 9px;
  }

  &__text {
    @include antialias;
    position: relative;
    top: 1px;
  }
}
