.section {
  background: $color-white;
  margin-bottom: 40px;
  padding-bottom: 40px;

  @include on-mobile {
    margin-bottom: 1px !important;
    padding-bottom: 20px !important;
  }

  &--footer {
    background: $body-background;
  }

  &--openings {
    padding-bottom: 70px;
    background: $color-white url('images/jobs-background.jpg') right bottom no-repeat;
    background-size: 332px 66px;

    @include on-mobile {
      padding-bottom: 100px !important;
    }
  }
}
