.store-gallery {
  @include on-mobile {
    th.columns.first {
      padding-left: $global-gutter / 2 !important;
      padding-right: $global-gutter / 4 !important;
    }

    th.columns.last {
      padding-left: $global-gutter / 4 !important;
      padding-right: $global-gutter / 2 !important;
    }
  }
}
