.store-item-1 {
  margin-bottom: 80px;
}

.store-item-1 .title,
.store-item-2 .title {
  margin-top: 16px;
}

.store-item-2 .subtitle {
  padding-bottom: 100px !important;
}

@include on-mobile {
  .store-item-2 .subtitle {
    padding-bottom: 50px !important;
  }
}
