.title,
.subtitle {
  &,
  a {
    font-family: $font-akagi;
  }
}

.title {
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
  Margin-bottom: 5px;

  @include on-mobile {
    font-size: 16px;
    margin-bottom: 4px;
    Margin-bottom: 4px;
  }

  &,
  a {
    color: $black;
  }
}

.subtitle {
  font-size: 15px;
  display: block;
  margin-bottom: 0;
  Margin-bottom: 0;

  @include on-mobile {
    font-size: 14px;
  }

  &,
  a {
    color: $color-dark-gray;
  }
}
