.title,
.subtitle {
  font-family: $font-akagi;
}

.title {
  font-size: 18px;
  margin: 0;
  color: $black;
  display: block;
}

.subtitle {
  font-size: 15px;
  margin: 0;
  color: $color-dark-gray;
  display: block;
}
