$global-gutter: 40px;

$color-black: #000;
$color-dark-gray: #999999;
$color-gray: #777b85;
$color-light-gray: #9ea0a6;

$font-tisa: Tisa Pro, Helvetica, Arial, sans-serif;
$font-akagi: Akagi Pro, Helvetica, Arial, sans-serif;

$weight-thin: 200;
$weight-light: 300;
