// Non-CSS imports (variables, mixins, placeholder rules, etc.)
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Vendor code
@import 'node_modules/foundation-emails/scss/util/util';
@import 'node_modules/foundation-emails/scss/global';
@import 'node_modules/foundation-emails/scss/components/normalize';
@import 'node_modules/foundation-emails/scss/grid/grid';
@import 'node_modules/foundation-emails/scss/components/alignment';
@import 'node_modules/foundation-emails/scss/components/visibility';
@import 'node_modules/foundation-emails/scss/components/typography';
@import 'node_modules/foundation-emails/scss/components/menu';
@import 'node_modules/foundation-emails/scss/components/media-query';

// Base styles
@import 'base/global';

// Layout styles
@import 'layout/grid';

// Component styles
@import 'components/dear-ueno';
@import 'components/divider';
@import 'components/footer';
@import 'components/header';
@import 'components/image';
@import 'components/link';
@import 'components/section';
@import 'components/store-item';
@import 'components/social-nav';
@import 'components/design-gallery';
@import 'components/title';
