{{#> section}}
  <div class="segment segment--narrow">
    <a href="#">
      <img src="images/placeholder-title.jpg" mc:edit="article_1_title" width="420" alt="Hi I'm title. This subtitle wraps to two lines." class="image image--title" />
    </a>
  </div>

  <a href="#">
    <img src="images/newsletter-gift.jpg" mc:edit="article_1_image" class="image image--upper" width="580" alt="Holiday gift" />
  </a>

  <div class="segment segment--narrow first-story">
    <div class="body-text" mc:edit="article_1_text">
      <p>Instead of buying you a holiday gift, Ueno is giving you $200 to give to someone who, let’s be honest, needs it more than you do. </p>
    </div>
    <div class="body-text">
      <a href="#">
        <img src="images/button.jpg" class="image" width="440" alt="Send Donation" />
      <a href="#">
    </div>
  </div>

{{/section}}
