{{#* inline 'style'}}
  <style>
    .body-text a,
    .body-text a:link,
    .body-text a:visited {
      color: #777b85;
			font-weight: normal;
			text-decoration: underline;
    }

    .final-section-spacer {
      height: 60px;
    }
  </style>
{{/inline}}

{{#> section}}
  <row class="narrow">
    <columns>
      <a href="#">
        <img src="images/placeholder-title.jpg" mc:edit="article_1_title" width="420" alt="Hi I'm title. This subtitle wraps to two lines." class="image image--title" />
      </a>
    </columns>
  </row>

  <row class="collapse">
    <columns>
      <a href="#">
        <img src="images/placeholder-1160.jpg" mc:edit="article_1_image" class="image image--upper" width="580" alt="Hand inside mailbox holding out letter" />
      </a>
    </columns>
  </row>

  <row class="narrow">
    <columns>
      <div class="body-text" mc:edit="article_1_text">
        <p>You know the drill. It’s a <a href="example.com">newsletter</a>, with news, about Ueno. If you don’t unsubscribe you can expect to get this in your inbox every two weeks. That’s it really.</p>
        <p>It will be full of good words, pictures and occasional references to pugs, all surrounded by lovely white space. You will like it. Probably. Maybe.</p>
      </div>
      {{#> link edit='article_1_linktext'}}
        Read more about the Ueno newsletter
      {{/link}}
      <div class="final-section-spacer"></div>
    </columns>
  </row>
{{/section}}
