{{#*inline 'gallery-item'}}
  <a class="design-gallery__item" href="{{link}}">
    <img src="images/{{image}}.jpg" class="design-gallery__item__image" width="240">
    <p class="title">{{type}}</p>
    <p class="subtitle">Posted by {{posted_by}}</p>
  </a>
{{/inline}}

<row class="design-gallery">
  <columns small="6">
    {{#each (slice items 0 split)}}
      {{> gallery-item this}}
    {{/each}}
  </columns>
  <columns small="6">
    {{#each (slice items split)}}
      {{> gallery-item this}}
    {{/each}}
  </columns>
</row>
