<div class="design-gallery__item">
  <a href="#">
    <img src="images/placeholder-460.jpg" class="design-gallery__item__image" width="230" mc:edit="design_{{n}}_image" />
  </a>
  <div mc:edit="design_{{n}}_category">
    <a href="#">
      <span class="title">Gadgets</span>
    </a>
  </div>
  <div mc:edit="design_{{n}}_postedby">
    <a href="#">
      <span class="subtitle">Posted by Haraldur</span>
    </a>
  </div>
</div>
