{{#> section}}
<container class="footer">
  <row>
    <columns>
      <spacer size="12">
      <center>
        <menu class="social-nav">
          <item href="#" class="social-nav__item">
            <img src="images/social-icons/facebook.png" alt="Facebook">
          </item>
          <item href="https://twitter.com/uenodotco" class="social-nav__item">
            <img src="images/social-icons/twitter.png" alt="Twitter">
          </item>
          <item href="https://www.instagram.com/uenodotco" class="social-nav__item">
            <img src="images/social-icons/instagram.png" alt="Instagram">
          </item>
          <item href="https://medium.com/ueno" class="social-nav__item">
            <img src="images/social-icons/medium.png" alt="Medium">
          </item>
        </menu>
      </center>
      <spacer size="25">
      <p>If you prefer not to receive emails like this, you may <a href="*|UNSUB|*">unsubscribe</a>.</p>
      <p>&copy; 2017 Ueno.co. All rights reserved.</p>
      <spacer size="10">
    </columns>
  </row>
</container>
{{/section}}
