<container class="footer">
  <row>
    <columns>
      <p>If you prefer not to receive emails like this, you may <a href="*|UNSUB|*">unsubscribe</a>.</p>
      <p>&copy; 2017 Ueno.co. All rights reserved.</p>
    </columns>
  </row>
</container>
