{{#> section footer=true}}
<row class="footer">
  <columns class="footer__content">
    <div class="footer__text" mc:edit="footer_text">
      <p>Welcome to Ueno&#39;s 59th newsletter. It was made especially for you. It&#39;s&nbsp;true.</p>
      <p>Is the previous statement true? Find out in&nbsp;<a href="https://www.ueno.co/privacy" target="_blank">our&nbsp;privacy&nbsp;policy</a>.</p>
      <p>Too much? Not enough? Here&rsquo;s&nbsp;your&nbsp;link to&nbsp;<a href="*|UNSUB|*">unsubscribe</a>.</p>
    </div>
  </columns>
</row>
{{/section}}
