{{#> section}}
<row class="footer">
  <columns class="footer__content">
    <center>
      <menu class="social-nav">
        <item href="https://www.facebook.com/uenodotco/" class="social-nav__item">
          <img src="images/social-icons/facebook.png" class="social-nav__item__icon social-nav__item__icon--facebook" width="10" height="18" alt="Facebook" />
        </item>
        <item href="https://twitter.com/uenodotco" class="social-nav__item">
          <img src="images/social-icons/twitter.png" class="social-nav__item__icon social-nav__item__icon--twitter" width="21" height="16" alt="Twitter" />
        </item>
        <item href="https://www.instagram.com/uenodotco" class="social-nav__item">
          <img src="images/social-icons/instagram.png" class="social-nav__item__icon social-nav__item__icon--instagram" width="19" height="18" alt="Instagram" />
        </item>
        <item href="https://medium.com/ueno" class="social-nav__item">
          <img src="images/social-icons/medium.png" class="social-nav__item__icon social-nav__item__icon--medium" width="21" height="18" alt="Medium" />
        </item>
        <item href="https://dribbble.com/ueno" class="social-nav__item">
          <img src="images/social-icons/dribbble.png" class="social-nav__item__icon social-nav__item__icon--dribbble" width="18" height="18" alt="Dribbble" />
        </item>
      </menu>
    </center>
    <div class="footer__text">
      <p>You have reached the end of this newsletter, hand-made in Ueno by good people who are probably {{footerPhrase}} right now.</p>
      <p>If you absolutely never want to hear from us  again, you can certainly <a href="*|UNSUB|*">unsubscribe</a>, but it would be hard to overstate how very sad we’ll be to see you go.</p>
    </div>
  </columns>
</row>
{{/section}}
