<row class="header narrow">
  <columns small="4">
    <a href="https://ueno.co{{> utm-link medium='logo' }}">
      <img src="images/ueno-logo.jpg" width="62" height="14" alt="ueno." class="header__logo" />
    </a>
  </columns>
  <columns small="8" class="header__side">
    <p class="header__date" mc:edit="header_date">{{ date }}</p>
  </columns>
</row>
