<row class="header narrow">
  <columns small="4">
    <img src="images/ueno-logo.jpg" width="62" height="14" alt="ueno." class="header__logo">
  </columns>
  <columns small="8" class="header__side">
    <p class="header__date">{{ date }}</p>
  </columns>
</row>
