<row class="header narrow">
  <columns small="7">
    <a href="https://ueno.design">
      <img src="images/ueno-design-logo.jpg" width="131" height="24" alt="ueno.store" class="header__logo header__logo--design" />
    </a>
  </columns>
  <columns small="5" class="header__side">
    {{#> link href='http://ueno.design'}}Visit website{{/link}}
  </columns>
</row>
