<div
  class="section {{#if footer}}section--footer{{/if}} {{#if jobs}}section--openings{{/if}}"
  {{#if hideable}} mc:hideable{{/if}}
  {{#if variant}} mc:repeatable="body" mc:variant="{{variant}}"{{/if}}
>
  {{> @partial-block}}
</div>
