<a class="store-item" href="{{link}}">
  <img src="images/design/{{image}}.jpg" width="240">
  <spacer size="20">
  <p class="title">{{type}}</p>
  <p class="subtitle">Posted by {{posted_by}}</p>
  <spacer size="60">
</a>
