{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    {{#> style}}{{/style}}
  </head>
  <body>
    {{> fonts}}
    <!--[if mso]>
      <style type=”text/css”>
        .title,
        .subtitle,
        .title a,
        .subtitle a,
        .body,
        .link,
        .header__date {
          font-family: Helvetica, Arial, sans-serif !important;
        }
      </style>
    <![endif]-->
    <span class="preheader" style="visibility: hidden; font-size: 1px; color: #f3f3f3; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; display: none; mso-hide: all;">*|PREVIEWTXT|*</span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <container>
              {{> header date=date}}
              {{> body}}
              {{> footer}}
            </container>
          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
  </body>
</html>
