{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{root}}style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
  </head>
  <body>
    <style type="text/css">
      @font-face {
        font-family: TisaPro;
        font-weight: 200;
        font-style: normal;
        src: url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaOT-Thin.eot');
        src: url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaOT-Thin.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaOT-Thin.woff2') format('woff2'), url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaOT-Thin.woff') format('woff'), url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaOT-Thin.ttf') format('truetype');
      }

      @font-face {
        font-family: TisaPro;
        font-weight: 300;
        font-style: normal;
        src: url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaPro-Light.eot');
        src: url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaPro-Light.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaPro-Light.woff2') format('woff2'), url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaPro-Light.woff') format('woff'), url('https://s3.amazonaws.com/ueno-fonts/tisa-pro/TisaPro-Light.ttf') format('truetype');
      }

      @font-face {
        font-family: AkagiPro;
        font-weight: 400;
        font-style: normal;
        src: url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Book.eot');
        src: url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Book.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Book.woff2') format('woff2'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Book.woff') format('woff'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Book.ttf') format('truetype');
      }

      @font-face {
        font-family: AkagiPro;
        font-weight: 500;
        font-style: normal;
        src: url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Medium.eot');
        src: url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Medium.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Medium.woff2') format('woff2'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Medium.woff') format('woff'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Medium.ttf') format('truetype');
      }

      @font-face {
        font-family: AkagiPro;
        font-weight: 700;
        font-style: normal;
        src: url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Bold.eot');
        src: url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Bold.eot?#iefix') format('embedded-opentype'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Bold.woff2') format('woff2'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Bold.woff') format('woff'), url('https://s3.amazonaws.com/ueno-fonts/akagi-pro/AkagiPro-Bold.ttf') format('truetype');
      }
    </style>
    {{> body}}
    {{> footer}}
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div>
  </body>
</html>
