* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
}

.body {
  font-family: $font-akagi;
  font-size: 18px;
  line-height: 27px;
  color: $color-gray;
}

.portrait,
.image {
  width: 100%;
}
