* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  font-family: 'Akagi Pro', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: $color-gray;
}
